body {
    background-color: rgb(217, 234, 250);
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.image {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.real-facts {
    text-align: center;
    text-decoration: blue underline;
}

#name {
    color: indigo;
}

#Subtitles {
    color: blueviolet;
}